.login-form-group {
    display: inline;
}

.login-mat-form-field {
    transform: scale(0.85);
    margin-right: -30px;
}

.password-mat-form-field {
    transform: scale(0.85);
}

.login-fields-div {
    padding-top: 15px;
}

.nav-bar-login-button {
    margin-bottom: 10px;
    vertical-align: middle;
}