<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Foody</a>

    <ul class="navbar-nav mew-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async">
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes/recipes-list" routerLinkActive="active">Przepisy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/products-list" routerLinkActive="active">Produkty</a>
      </li>

    </ul>
    <span class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
      <a class="dropdown-toggle text-light" (click)="false" dropdownToggle>Profil</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Ustawienia</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="accountService.logout()">Wyloguj</a>
      </div>
    </span>
    <div *ngIf="!(accountService.currentUser$ | async)">
      <app-nav-bar-login></app-nav-bar-login>
    </div>
  </div>
</nav>