<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Foody</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Przepisy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Produkty</a>
      </li>

    </ul>
    <span class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
      <a class="dropdown-toggle text-light" (click)="false" dropdownToggle>Profil</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Ustawienia</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="accountService.logout()">Wyloguj</a>
      </div>
    </span>
    <div *ngIf="!(accountService.currentUser$ | async)">
      <app-nav-bar-login></app-nav-bar-login>
    </div>
  </div>
</nav>