<form [formGroup]="formGroup" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Zarejestruj się</h2>
    <hr>
    <div class="mb-3">
        <input type="text" class="form-control" formControlName="username" placeholder="Login">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" formControlName="password" placeholder="Hasło">
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Zarejestruj</button>
        <button class="btn btn-default" (click)="cancelRegister()">Anuluj</button>
    </div>
</form>